/*CSS RESET*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.compname {
  font-size: 29px;
}
img{
  height: 250px;
  width: 250px;
  padding: 20px ;
  border: 2px solid rgb(255, 0, 0);
  transition: all ease-in 0.2s;
  box-shadow: 0 0 10px red;
  margin-bottom: 20px;
  margin-top: 70px;
}
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75px;
  background-color: black;
  color: red;
  position: sticky;
  top:0px;
}
h2{
  text-align: center;
  
}
img:hover{
  transform: scale(1.1);
}

.getuserbtn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
